@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ARG's Bank</h1>
   
 </div>
<div class="text-info">
    <h5> This application is still under working, for more suggestions do not hesitate to contact us </h5>
    <p>
        E-Mail : argsbank@test.com <br />
        Phone number : 07noidoi55
    </p>
</div>
